.card-container .card .card-figure {
  margin: 0;
}
.card-container .card .card-figure img {
  display: block;
  width: 100%;
}

.card-container {
  .card {
    display: flex;
    flex-direction: column;
    .card-figure {
      overflow: hidden;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .card-body {
      flex: 1;
      padding: 1rem;

      border-width: 1px;
      border-style: solid;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}
