@use "styles.scss" as v;
$card_padding_img: 20px 20px 0 20px;
$card_padding_body: 20px 20px 5px 20px;
$card-bgcolor: white;
$card_margin: 5px;
$card_round: 10px;
$card_width: 300px;

.card-container .card .card-figure {
  margin: 0;
}
.card-container .card .card-figure img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.card-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
  justify-content: center;
  .card {
    display: flex;
    width: $card_width;
    background-color: $card-bgcolor;
    flex-direction: column;
    border-radius: $card_round;
    box-shadow: 0px 14px 15px -11px rgba(0,0,0,0.75);

    .card-figure {
      overflow: hidden;
      padding: $card_padding_img;
    }
    .card-body {
      flex: 1;
      padding: $card_padding_body;
      border-width: 1px;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}
